@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

.App {
  height: 100%;
  padding: 10px;
  background-color: #20264d;
  font-family: "Mali", cursive;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.logo {
  height: 50px;
}

.calculator-container {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #ccccff;
  border-radius: 20px;
  border: 5px solid white;
}

.line {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
